* {
    margin: 0;

    font-family: "roboto", "sans-sherif";
    font-size: 18px;

    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/******************************************************
******************************************************/
/* navigation bar */
.navbar {
    overflow: hidden;
    background-color: #148995;
}

/* main navigation content */
.nav-content {
    float: right;
}

/* all nav items */
.nav-item {
    float: left;
}

/* navbar text */
.nav-brand, 
.nav-link {
    color: #f2f2f2;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding: 12px;

    display: block;
    padding: 22px 18px;
}

/* hover effect for all navbar items*/
.nav-brand:hover,
.nav-link:hover,
.nav-icon:hover {
    color: #b4f1f1;
    text-decoration: underline;
}

/* navbar icon */
.nav-icon {
    color: #f2f2f2;
    display: none;
    padding: 22px 18px;
}

/* current page indicator */
#active {
    color: #b4f1f1;
    text-decoration: underline;
}

@media only screen and (min-width: 870px) {
    .nav-item {
        padding: 0 25px;
        /* background-color: red; */
    }
}

@media only screen and (max-width: 870px) {
    .nav-item {
        padding: 0 12px;
        /* background-color: green; */
    }
}

@media only screen and (max-width: 768px) {
    .nav-item {
        padding: 0px;
        /* background-color: blue; */
    }
}

@media only screen and (max-width: 600px) {
    .nav-content {
        display:none;
    }

    .nav-icon {
        float: right;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .responsive .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive .nav-content {
        /* position: relative;
        overflow: visible;*/
        display: block;
        float: none;
    }

    .responsive .nav-item {
        /* position: relative; */
        /* overflow: visible; */
        float: none;
    }
}   